.loading {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.loading img {
	width: 100px;
	height: 100px;
}
